@import url(BaseColor.css);
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-master {
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: var(--basic-white-color);
    width: 100%;
}

.navbar-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.navbar-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.navbar-1 ul {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}

.navbar-2 ul {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    padding-right: 10vh;
}

.fixed-size-slider {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-modified {
    background-color: var(--button-color);
    color: var(--basic-white-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.slidebar-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: var(--basic-black-color);
    color: var(--basic-white-color);
}

.commentator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    gap: 20px;
}

.image-slidebar-1 {
    width: 15%;
}

.create-account-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 12vh;
    background-color: var(--fax-color);
    color: var(--basic-white-color);
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px 0;
    font-weight: 300;
}

.create-account-bar p {
    width: 40%;
}

.create-account-bar button {
    width: 20%;
    background-color: var(--basic-white-color);
    color: var(--basic-black-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    transition: color 0.3s ease;
    color: var(--hover-color);
}
